.change-pw-success {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-pw-success-txt {
    margin-right: 2px;
    color: #009688; /* TODO: Variable for this*/
}

